
body {
    background-image: url("../media/mountain.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.container {
    width: 100%;
}
.home{
    height: 100vh;
    color: #FFFDD0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

