
body {
    background-image: url("../media/mountain.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.container {
    width: 100%;
}
.home{
    height: 100vh;
    color: #FFFDD0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.navbar-toggler{
    width: 25px;
    height: 20px;

    position: relative;
    transition: .5s ease-in-out;

}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}
.navbar-toggler span{
    margin: 0;
    padding: 0;
}

.toggler-icon{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: red;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform:rotate(0deg);
    transition: .25s ease-in-out;
}
.middle-bar{
    margin-top: 0;

}
.navbar-toggler .top-bar{
    margin-top:0;
    transform:rotate(135deg);
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);

}
.navbar-toggler .bottom-bar{
    margin-top: 0;
    transform:rotate(-135deg);
}
.navbar-toggler.collapsed .top-bar{
    margin-top: -20px;
    transform:rotate(0deg);

}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform:rotate(0deg);
}
.navbar-toggler.collapsed .toggler-icon{
    background: linear-gradient(263deg, rgba(252,74,74,1) 0%, rgba(0,212,255,1) 100%);
}